/* body styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*
**************************
*     header styling     *
**************************
*/

header {
  background-color: #35424a;
  color: #fff;
  padding-top: 20px;
  min-height: 85px;
  border-bottom: #e8491d 3px solid;
}

/* header links */
header a {
  color: #fff;
  text-decoration: none; /*removes underline on links */
  text-transform: uppercase;
  font-size: 16px;
}

/* header list items */
header li {
  float: left;
  padding: 0 10px 0 25px;
}

/* move branding to the left */
header #branding {
  float: left;
}

/* set margin of welcome message h1 */
header #branding h1 {
  margin: 0;
}

/* move menu to the right */
header nav {
  float: right;
  margin-top: 10px;
}

/* current page color, welcome span color */
header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

/* link color on hover */
header a:hover {
  color: #ccc;
}

/* all ul's */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
**************************
*   end header styling   *
**************************
*/

/* footer styling */
footer {
  padding: 25px;
  margin-top: 20px;
  color: #fff;
  background-color: #e8491d;
  text-align:center;
}

/* get rid of bottom margin on footer paragraph */
footer p {
  margin-bottom: 0px;
}

/*
**************************
*   end footer styling   *
**************************
*/

/*
******************************
*    all menu bar styles     *
******************************
*/

/* Rotate top bar */
.change .b1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px) ;
}

/* Fade out the second bar */
.change .b2 {
    opacity: 0;
}

/* Rotate bottom bar */
.change .b3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-7px, -8px) ;
}

/*
**************************
* end of menu bar styles *
**************************
*/

/*
****************************
*    newsletter styling    *
****************************
*/
/* newsletter section styling */
#newsletter {
  padding: 15px;
  background-color: #35424a;
  margin-bottom: 20px;
}

/* newsletter h1 styling */
#newsletter h2 {
  text-align: center;
  color: #fff;
}

/*
****************************
*  end newsletter styling  *
****************************
*/

#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform:translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 2em;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #fdab00;
}

.top {
  background-color: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #fdab00;
  width: 5px; /* set width of image divider */
  top: 0;
  left: 50.3%; /* starting position of divider before mouseover */
  z-index: 3; /* place on top of all elements */
}

.skewed .handle {
  top: 50%; /* position of image divider */
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

/*
******************************
*       media queries        *
******************************
*/
/* tablet size or less */
@media (max-width: 768px) {
  body{
    font-size: 75%;
  }
}


/* mobile media query */
@media only screen and (max-width: 480px) {

  /* position menu bars */
  .menu-container {
    display: block;
    cursor: pointer;
    padding: 5px;
    width: 35px; /* set div width to be the similar to the menu bars width */
    margin-bottom: 6px;
  }

  /* set up menu bar styles */
  .b1, .b2, .b3 {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.3s;
  }

  /* change initial height of the menu until hamburger is clicked */
  .menu {
    height: 0;
    transition: height 0.6s;
  }

  /* set the height when the menu is clicked */
  .open {
    height: 110px;
  }

  /* change padding on mobile */
  header li {
    padding: 0 53px 0 1px;
    width: 100%;
  }
}
