/* body styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*
******************************
*       global styles        *
******************************
*/
/* container divs */
.container {
  width: 80%; /* responsive width */
  margin: auto; /* use margin auto for percentage width */
  overflow: hidden;
}

/* global dark background. put this class anywhere a dark background is needed. Also changes text color to white */
.dark {
  padding: 5px 20px 20px 20px;
  background-color: #35424a;
  color: #fff;
}

/*
******************************
*    all menu bar styles     *
******************************
*/

/* Rotate top bar */
.change .b1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px) ;
}

/* Fade out the second bar */
.change .b2 {
    opacity: 0;
}

/* Rotate bottom bar */
.change .b3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-7px, -8px) ;
}

/*
**************************
* end of menu bar styles *
**************************
*/

/* images section */
#boxes {
  margin-top: 20px;
}


/*
**************************
*     header styling     *
**************************
*/

/* header */
header {
  background-color: #35424a;
  color: #fff;
  padding-top: 20px;
  min-height: 85px;
  border-bottom: #e8491d 3px solid;
}

/* header links */
a.btn-primary.btn-block {
  color: #fff;
  font-weight: bold;
  text-decoration: none; /*removes underline on links */
  text-transform: uppercase;
  font-size: 16px;
  background-color: #35424a;
  border: none;
}

/* align page title with menu options */
.col-xs-6.heading {
  padding-top: 3px;
}

/* all ul's */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* remove list item button padding in header */
.list-inline>li {
  padding-right: 0;
  padding-left: 0;
}

/* set margin of welcome message h1 */
header #branding h1 {
  margin: 0;
}

/* move menu to the right */
header nav {
  float: right;
  margin-top: 10px;
}

/* current page color, welcome span color */
header .highlight {
  color: #e8491d;
  font-weight: bold;
}

/* link color on hover */
header a:hover {
  color: #ccc;
}

/* remove padding for header items */
div.col-xs-6 {
  padding: 0;
}

/* set colors for projects button states */
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:focus {
  background: #286090;
}

/*
**************************
*   end header styling   *
**************************
*/

/* main body content styling */
#body-content {
  min-height: 400px;
  background: url('../img/bg4.jpg') no-repeat 0 -500px;
  -webkit-filter:grayscale(100%); /* gray out picture to make text more visible */
  color: #fff;
}

/* main body h1 styling */
#body-content h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* showcase paragraph styling */
#body-content p {
  font-size: 20px;
}

/*
****************************
*    newsletter styling    *
****************************
*/

/* newsletter section styling */
#newsletter {
  padding: 15px;
  background-color: #35424a;
  margin-bottom: 20px;
}

/* newsletter h2 color */
#newsletter h2 {
  color: #fff;
}

/* newsletter subscribe form margin */
#newsletter form {
  margin-top: 20px;
}

/* style projects decription top margin. This page's description is different than the other pages  */
.projects-description h2 {
  margin-top: 10px;
}

/* add top border for index page newsletter section */
.index-newsletter {
  border-top: #e8491d 3px solid;
}

/*
****************************
*  end newsletter styling  *
****************************
*/

/* style email input box */
#newsletter input[type="email"] {
  padding: 15px;
  height: 25px;
  width: 250px;
  border-radius: 2px;
  padding-left: 2px; /*  set this to put placeholder in correct position due to padding */
}

/* subscribe button styling */
.subscribe_button {
  height: 34px;
  width: 110px;
  background-color: #e8491d;
  border: none;
  color: #fff;
  border-radius: 2px;
  margin-left: 5px;
}

/* quote button styling, services page */
.quote_button {
  height: 34px;
  width: 89%;
  background-color: #e8491d;
  border: none;
  color: #fff;
  border-radius: 2px;
  margin-left: 3px;
}

/* set color for form input fields */
.quote {
  color: black;
}

/* sidebar quote button div styling, services page */
.sidebar-quote-button {
  text-align: center;
}

/* text style on sidebar title, services page */
.sidebar-quote-title {
  font-weight: bold;
  text-align: center;
}

/* sidebar message div styling */
.sidebar-message {
  text-align: center;
  margin-bottom: 10px;
}

/* style input field divs on services page */
.sidebar-name-field, .sidebar-email-field, .sidebar-message, .quote_button {
  text-align: center;
  padding: 5px;
}

/* input fields styling on services page */
.side-name, .side-email, .side-message {
  width: 92%;
  margin-left: 3px;
}

/* sidebar styling in services page */
.services-dark { /* if attaching the id, place it as one word: aside#id */
  padding: 5px 20px 35px 20px;
  background-color: #35424a;
  color: #fff;
}

/* styling the list of services, on services page */
ul#services li {
  padding: 20px;
  border: #ccc solid 1px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
}

/* styling for the images on the index page */
#boxes .box img {
  width: 90px;
}

/* sidebar styling in about page */
aside#sidebar { /* if attaching the id, place it as one word: aside#id */
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* text styling on about me section, about page */
.page-title {
  font-weight: bold;
}

/* text style on sidebar title, about page */
.sidebar-title {
  font-weight: bold;
}

/* main content styling in about page */
article#main-col { /* same id attachment rule: article#id */
  float: left;
  width: 65%;
}

/* footer styling */
footer {
  padding: 25px;
  margin-top: 20px;
  color: #fff;
  background-color: #e8491d;
  text-align:center;
}

/* footer text margin adjustment */
.footer_link {
  margin-left: 50px;
}

/* adjust image image size in footer */
.footer_img {
  width: 100px;
  height: 28.21px;
  padding: 0px;
  margin: 0px;
}
/* end footer styling */


/*
****************************
*   image slider styling   *
****************************
*/

#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform:translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 2em;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #fdab00;
}

.top {
  background-color: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #fdab00;
  width: 5px; /* set width of image divider */
  top: 0;
  left: 50.3%; /* starting position of divider before mouseover */
  z-index: 3; /* place on top of all elements */
}

.skewed .handle {
  top: 50%; /* position of image divider */
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

/*
******************************
*     end slider styling     *
******************************
*/

/*
******************************
*       media queries        *
******************************
*/

/* media query to handle newsletter form issue starting at 969 px */
@media(max-width: 969px) {
  /* margin adjustments for email field at this screen size */
  #newsletter form input[type="email"] {
    margin-bottom: 5px;
    margin-right: 2px;
  }

  /* adjust width to match email field width */
  #newsletter button {
    width: 250px;
  }
}

/* anything in this query will run only on screens of 768px or less */
@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #body-content h1 {
    margin-top: 40px;
  }

  #newsletter button {
    display: block;
    width: 200px;
  }

  #newsletter form input[type="email"] {
    display: block;
    width: 200px;
    margin-left: 4px;
    margin-bottom: 5px;
  }
}

/* mobile media query */
@media(max-width: 480px) {
  /* set menu bar div styles */
  .menu-container {
    display: block;
    cursor: pointer;
    padding: 5px;
    width: 35px; /* set div width to be the similar to the menu bars width */
    margin-bottom: 10px;
  }

  /* set up menu bar styles */
  .b1, .b2, .b3 {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.3s;
  }

  /* move menu bars to the left on mobile */
  div.col-xs-6 {
    width: 100%; /* set buttons to take up their own row */
    margin-left: 15px; /* center header content on mobile */
  }

  /* change initial height of the ul until hamburger is clicked */
  .list-inline {
    height: 0;
    transition: height 0.6s;
  }

  /* space between buttons in header on mobile */
  .list-inline>li {
    margin-bottom: 5px;
  }

  /* set the height when the menu is clicked */
  .open {
    height: 160px;
  }

  /* change header li padding on mobile */
  header li {
    padding: 0 53px 0 1px;
  }

  /*  change color for buttons on mobile */
  a.btn.btn-primary.btn-block {
      background-color: #4a4735;
      font-weight: bold;
  }

  /* on projects page, set custom image divider position for mobile so it lines up perfectly */
  .handle {
    left: 51%;
  }

  /* on projects page, set the font size for image text on mobile */
  .img-text {
    font-size: 80%;
  }

  /* reduce font size on mobile for all pages */
  #body-content h1 {
    font-size: 40px;
  }

  /* margin adjustments for email field on mobile */
  #newsletter form input[type="email"] {
    display: inline;
    margin-right: 6px;
  }

  /* adjust width to match email field on mobile */
  #newsletter button {
    display: inline;
  }

  /* move modal close button on mobile */
  span.close {
      position: absolute;
      right: 32%;
  }
}

/*
******************************
*     end media queries      *
******************************
*/

/*
******************************
*       modal styling        *
******************************
*/

/* Style the Image Used to Trigger the Modal */
.myImg {
    cursor: pointer;
    transition: 0.3s;
    width: 90px;
}

/* set styling for images on hover */
.myImg:hover {
  opacity: 0.7;
  border-radius: 5px;
}

/* Modal Content (Image) */
.modal-content {
  background-color: #fff;
  margin: auto;
  display: block;
  max-width: 700px;
}

/* set styles on images that appear in the modal */
.showimage {
  display: block;
  margin: auto;
  /* give same border radius as hover state */
  border-radius: 5px;
}

/* set styles for modal footer */
.modal-footer {
  border: none;
}

/* set styles for close button on modal */
.close_button {
  width: 40%;
  /* display: block is handled through bootstrap class assigned to the element: btn-block */
  margin: auto;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/*
******************************
*     end modal styling      *
******************************
*/
