:root {
  --theme-orange: #e8491d;
  --theme-dark-blue: #35424a;
  --c-white: #fff;
  --c-black: #000;
}

html, body {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3rem;
  color: var(--c-white);
}

h2 {
  font-size: 2.5rem;
  color: var(--c-white);
  margin-top: 1rem;
}

h5 {
  font-size: 0.8rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  color: var(--c-white);
}

a, button {
  letter-spacing: 0.5px;
}

.btn,
button {
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  width: 30rem;
  height: 3.3rem;
  padding: 0;
  border-radius: 0.4rem;
  border: 0.1rem solid transparent;
  outline: none;
  transition: all 0.3s linear;
  background-color: var(--theme-orange);
  color: var(--c-white);
}

.btn:hover,
button:hover {
  background-color: var(--c-white);
  color: var(--theme-orange);
  border: 0.1rem solid var(--theme-orange);
}

.btn:focus,
button:focus {
  outline: none;
}

li {
  list-style-type: none;
}

input, textarea {
  width: 30rem;
  height: 3.3rem;
  border-radius: 0.4rem;
  border: 0.2rem solid transparent;
  padding: 0 1rem;
  margin: 0 auto 1rem auto;
  font-size: 1.1rem;
  transition: border 0.3s linear, background-color 0.3s linear;
  background-color: var(--c-white);
  color: var(--c-black);
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  padding: 0.75rem 1rem;
  height: auto;
}

.text-center {
  text-align: center;
}

.small-12 {
  width: 100%;
  padding: 0;
}

.show-for-large {
  display: none;
}

.container {
  padding: 0 3rem;
  overflow: hidden;
}

.dark-blue {
  background-color: var(--theme-dark-blue);
}

.dark {
  padding: 5px 20px 20px 20px;
  background-color: var(--theme-dark-blue);
  color: #fff;
  height: 65.5vh;
}

.navbar-container {
  padding: 0;
}

.nav-list {
  height: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  transition: height 0.45s linear;
  transform: translateY(4rem);
}

.nav-list.open {
  height: 20rem;
}

.nav-list li {
  margin-bottom: 5px;
  width: 100%;
}

.nav-list a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  border: 0.1rem solid transparent;
  background-color: #5d676e;
  transition: all 0.3s linear;
  max-width: 47rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.nav-list a:active,
.nav-list a:focus,
.nav-list a:hover {
  color: var(--theme-orange);
  background-color: var(--c-white);
  border: 0.1rem solid var(--theme-orange);
}

.menu-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  top: -1.5rem;
  left: -0.5rem;
}

.menu-container:hover {
  cursor: pointer;
}

.menu-container::before,
.menu-container::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 0.2rem;
  background-color: #fff;
  transition: all 0.3s linear;
  bottom: auto;
}

.menu-container::before {
  top: 1rem;
}

.menu-container::after {
  top: 2.4rem;
}

.update-menu-bars::before {
  transform: rotate(-45deg);
  top: 1.75rem;
}

.update-menu-bars::after {
  transform: rotate(45deg);
  top: 1.75rem;
}

.menu-bar {
  display: inline-block;
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background-color: #fff;
  top: 1.7rem;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.update-menu-bars .menu-bar {
  opacity: 0;
}

/* set styles for hr's */
.project_separation {
  border: 2px solid var(--theme-orange);
  position: absolute;
  width: 81.7%;
  top: 108.25%;
  left: 11.1%;
}

#boxes {
  margin-top: 2rem;
}

header {
  background-color: var(--theme-dark-blue);
  color: #fff;
  padding-top: 1.5rem;
  min-height: 10rem;
  border-bottom: #e8491d 0.3rem solid;
  position: relative;
}

header nav {
  margin-top: 1rem;
}

.heading {
  position: absolute;
  top: 3.5rem;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: 75%;
}

.page_title {
  margin: 0;
  font-size: 2.25rem;
  line-height: 1.25;
}

/* current page color, welcome span color */
header .highlight {
  color: var(--theme-orange);
  font-weight: bold;
}

/* link color on hover */
header a:hover {
  color: #ccc;
}

/* set colors for projects button states. commented this out until the dropdown menu is fixed, or functionality is moved to a different page */
/*.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:focus {
  background: #286090;
}*/

#body-content {
  background: url('../img/bg4.jpg') no-repeat;
  -webkit-filter: grayscale(100%);
  background-size: cover;
}

.body-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 4rem 0;
}

.body-copy {
  margin-bottom: 4rem;
}

/* set styles for projects_description div */
.projects_description {
  position: absolute;
  width: 82%;
}

/* style projects decription top margin. This page's description is different than the other pages  */
.projects_description h2 {
  margin-top: 10px;
}

.index-newsletter {
  padding: 0 1.5rem;
  background-color: var(--theme-dark-blue);
  border-top: #e8491d 3px solid;
  border-bottom: #e8491d 3px solid;
}

.index-newsletter .row {
  padding: 1rem;
}

.index-newsletter form {
  margin-top: 1rem;
  max-width: 37.5rem;
  margin: 0 auto;
}

.newsletter_title {
  margin-bottom: 2rem;
}

.subscribe_button {
  margin-bottom: 1.5rem;
}

.quote div {
  padding-bottom: 0.5rem;
}

.quote div:last-child {
  padding-bottom: 0;
}

.quote_button {
  display: inline-block;
  max-width: 80%;
}

.side-name, .side-email, .side-message {
  width: 90%;
}

.contact-form-container {
  padding: 1.5rem 0 2.5rem 0;
  max-width: 80%;
  margin: 0 auto;
}

#main-col .page-title {
  margin-bottom: 2rem;
}

#services {
  max-width: 85%;
  margin: 0 auto;
  padding: 0;
}

#services li {
  padding: 2rem;
  margin-bottom: 0.5rem;
  background-color: #e6e6e6;
}

#services h3 {
  margin: 1rem 0;
}

#services p {
  color: var(--theme-dark-blue);
  font-size: 1.5rem;
}

/* text style on sidebar title, about page */
.sidebar-title {
  font-weight: bold;
}

footer {
  width: 100%;
  position: absolute;
  bottom: -4.7rem;
  padding: 1.75rem 0;
  color: #fff;
  background-color: var(--theme-orange);
}

/************************************************************
**********              image slider               **********
*************************************************************/

#wrapper {
  position: absolute;
  width: 51.94%;
  min-height: 30.5vw;
  overflow: hidden;
  margin-top: 10px;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 8vw;
}

/* set styles for coffee h1 */
div.coffee-body {
  width: 10%;
  position: absolute;
  top: 70%;
  left: 3%;
  text-align: center;
}

/* set styles for railroad h1 */
div.railroad-body {
  width: 10%;
  top: 60%;
  left: 37%;
  position: absolute;
  color: #fff;
}

/* set image size for each picture on image slider */
.layer img {
  position: absolute;
  width: 18%;
  top: 180%;
  left: 25%;
  transform: translate(-50%, -50%);
}

/* set font size for coffee/railroads project h1 */
.layer h1 {
  font-size: 2em;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #fdab00;
}

.top {
  background-color: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #fdab00;
  width: 5px; /* set width of image divider */
  top: 0;
  left: 49%; /* starting position of divider before mouseover */
  z-index: 3; /* place on top of all elements */
}

.skewed .handle {
  top: 11%; /* position of image divider */
  transform: rotate(30deg) translateY(-50%);
  height: 206%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1188px;
  width: calc(25vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* on projects page, set custom image divider position for mobile so it lines up perfectly */
.handle {
  left: 51%;
}

/* on projects page, set the font size for image text on mobile */
.img-text {
  font-size: 80%;
  margin: 0;
}

.itemdesc {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.images-row div:last-child .itemdesc {
  margin-bottom: 0;
}

.img-container {
  width: 50%;
  margin: 0 -0.1rem;
  display: inline-block;
}

.img-container:hover {
  cursor: pointer;
}

.myImg {
  max-width: 50%;
}

.modal {
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
}

.modal img {
  border-radius: 0.4rem;
}

/* Modal Content (Image) */
.modal-content {
  background-color: #fff;
  margin: auto;
  display: block;
  max-width: 70rem;
  opacity: 1;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
  transition: opacity 0.5s linear;
}

.modal-footer {
  border: none;
}

.close_button {
  width: 50%;
  margin: 0 auto;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkit-opacity: 1;
  }
}

@keyframes zoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 48em) {
  header #branding,
  #newsletter h1 {
    float: none;
  }

  .medium-6 {
    width: 50%;
    padding: 0;
  }

  .nav-list a {
    max-width: 50%;
  }

  .nav-list.open {
    height: 20rem;
  }

  #sidebar {
    width: 100%;
    margin-top: 0;
  }

  #main-col {
    width: 100%;
  }

  /* set custom width for smaller screens */
  #wrapper {
    width: 83.5%;
  }

  /* change the height property of this div so the box is the correct height */
  .dark {
    height: auto;
    font-size: 13px;
  }

  .container {
    width: auto;
  }

  .heading {
    top: 3rem;
  }

  .page_title {
    font-size: 3rem;
  }

  #body-content {
    min-height: 35rem;
    display: flex;
    align-items: center;
  }

  .index-newsletter {
    padding: 1.5rem;
  }

  .index-newsletter .row {
    display: flex;
    align-items: center;
  }

  .newsletter_title {
    margin-bottom: 1rem;
  }

  .services-container {
    width: 57.5rem;
  }

  .page-title,
  .contact_us {
    margin-left: 0;
    text-align: center;
  }

  .side-name, .side-email, .side-message {
    width: 75%;
  }

  .subscribe_button {
    margin-bottom: 0;
  }

  .images-row {
    display: flex;
  }

  .img-container {
    width: auto;
    margin: 0 auto;
  }

  .itemdesc {
    margin-bottom: 2rem;
  }

  .images-row div:last-child .itemdesc {
    margin-bottom: 2rem;
  }

  .modal-dialog {
    width: auto;
  }

  .myImg {
    max-width: 10rem;
  }

  /* custom width for railroad-body div on smaller screens. this is to encapsulate its text */
  div.railroad-body {
    width: 30%;
    left: 50%;
    /* used this to "reset" the top position */
    top: auto;
  }

  /* custom width for coffee-body div on smaller screens. this is to encapsulate its text */
  div.coffee-body {
    width: 23%;
    top: auto;
  }

  p.img-text {
    font-size: 10px;
  }

  /* set bottom div width on smaller screens */
  .bottom {
    background: #222;
    z-index: 1;
    width: 100%;
  }

  /* set size of h1 in railroad/coffee project */
  .layer h1 {
    font-size: 1.25em;
  }

  /* adjust starting position of yellow handle on smaller screens */
  .handle {
    left: 53%;
  }

  .skewed .top {
    transform: skew(-30deg);
    margin-left: -1065px;
    width: calc(44vw + 1000px); /* set initial width of the top layer */
  }

  /* set image size for each picture on image slider */
  .layer img {
    position: absolute;
    width: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 64em) {
  .show-for-large {
    display: inline-block;
  }

  .hide-for-large {
    display: none;
  }

  header {
    min-height: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  header .container {
    overflow: visible;
  }

  .nav-list {
    width: 25%;
    height: 100vh;
    margin: unset;
    position: absolute;
    top: 4rem;
    bottom: auto;
    left: -1.5rem;
    right: auto;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    background: var(--theme-dark-blue);
  }

  .nav-list.open {
    height: 100vh;
    transform: translateX(0);
  }

  .nav-list li:first-child {
    margin-top: 2rem;
  }

  .nav-list li {
    margin: 1rem 0;
  }

  .nav-list a {
    max-width: 60%;
  }

  #body-content .container {
    margin-top: 10rem;
  }

  form {
    position: relative;
  }

  input:focus,
  textarea:focus {
    background-color: #9acefd;
  }

  .input-underline {
    opacity: 0;
    display: inline-block;
    width: 75%;
    height: 0.2rem;
    background-color: var(--theme-orange);
    position: absolute;
    left: 50%;
    top: 2.75rem;
    transform: translateX(-50%);
    transition: opacity 0.3s linear;
  }

  .show-input-underline {
    opacity: 1;
  }

  .img-container {
    transition: all 0.3s linear;
  }

  .img-container:hover {
    cursor: pointer;
    opacity: 0.8;
    border-radius: 0.4rem;
    transform: scale(0.9);
  }

  .myImg:hover {
    border-radius: 0.4rem;
  }

  #main {
    transform: translateY(10rem);
  }

  #main-col,
  #sidebar {
    max-width: 70%;
    margin: 0 auto;
  }

  footer {
    bottom: -14.7rem;
  }
}
