<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        Web Design and Development, Joe DeSoto. Copyright &copy; 2017
      </div>
      <div class="col-xs-4">
        <a class = "footer_link" href="https://www.f6s.com/joedesoto?follow=1" target="_blank" title="Follow Joe DeSoto on F6S">
          <img class="footer_img" src="https://www.f6s.com/images/f6s-follow-white.png" alt="Follow Joe DeSoto on F6S" />
        </a>
      </div>
    </div>
  </div>
</footer>
