<header>
  <div class="container">
    <div id="branding" class="row">
      <div class="col-xs-6 heading">
        <h1 class="page_title"><span class="highlight">Welcome</span> to Website Solutions!</h1>
      </div>
      <div class="col-xs-6">
        <nav>
          <div class="menu-container">
            <div class="b1"></div>
            <div class="b2"></div>
            <div class="b3"></div>
          </div>

          <ul class="list-inline">
            <li><a href="home.html" class="btn btn-primary btn-block"><span class="highlight">Home</span></a></li>
            <li><a href="services.html" class="btn btn-primary btn-block">Services</a></li>
            <li><a href="about.html" class="btn btn-primary btn-block">About</a></li>
            <li><a href="projects.html" class="btn btn-primary btn-block">Projects</a></li>
          </ul>

        </nav>
      </div>
    </div>
  </div>
</header>
