<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Professional Web Designs and Development">
    <meta name="keywords" content="web, web development, website, websites, web design, html, css, js, webpage, developer">
    <meta name="author" content="Joe DeSoto">
    <!-- webpage tab text -->
    <title>Services</title>
    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- css file link -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Favicon links and meta tags -->
    <link rel="icon" href="../myicon.ico" type="image/x-icon" />
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
  </head>
  <body class="services">
    <header>
      <div class="container">
        <div id="branding" class="row">
          <div class="col-xs-6 heading">
            <h1><span class="highlight">Your</span> Website Solution</h1>
          </div>
          <div class="col-xs-6">
            <nav>
              <div class="menu-container">
                <span class="menu-bar"></span>
              </div>

              <ul class='nav-list'>
                <li><a href="home.html" class="btn btn-primary btn-block"><span class="highlight">Home</span></a></li>
                <li><a href="services.html" class="btn btn-primary btn-block">Services</a></li>
                <li><a href="about.html" class="btn btn-primary btn-block">About</a></li>
                <li><a href="projects.html" class="btn btn-primary btn-block">Projects</a></li>
              </ul>

            </nav>
          </div>
        </div> <!-- closes row div -->
      </div> <!-- closes container div -->
    </header>

    <section id="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 text-center">
            <h2>Subscribe to the Newsletter!</h2>
          </div>
          <div class="col-xs-6 text-center">
            <form action="home.html" method="post">
              <input type="email" placeholder="email@email.com" required>
              <button type="submit" class="subscribe_button" name="button">Subscribe</button>
              <br><br>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">Services</h1>
          <ul id="services">
            <li>
              <h3>Website Development</h3>
              <p>Cost: $2,500 - $4,000 per project </p>
            </li>
            <li>
              <h3>Web Application</h3>
              <p>Cost: $7,500 - 10,000 per project</p>
            </li>
          </ul>
        </article>

        <!-- services page sidebar -->
        <h1 class="contact_us">Contact Us</h1>
          <aside id="sidebar">
            <div class="services-dark">
              <form class="quote" action="services.html" method="post">

                <div class="sidebar-name-field">
                  <input class="side-name" type="text" name="name" placeholder="Your name" required>
                </div>

                <div class="sidebar-email-field">
                  <input class="side-email" type="email" name="email" placeholder="email@email.com" required>
                </div>

                <div class="sidebar-message">
                  <textarea class="side-message" name="message" rows="4" cols="22" placeholder="Add your message here" required></textarea>
                </div>

                <div class="sidebar-quote-button">
                  <button class="quote_button" type="submit" name="button">Get Quote</button>
                </div>
              </form>
            </div>
          </aside>
      </div>
    </section>

    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            Web development projects made by Joe DeSoto,  <span class="current-year"></span>.
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- bootstrap js script file CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
